*{
	margin: 0px;
	padding: 0px;
}
#head {
	margin: 0.50%;
	border-radius: 10px;
	background: #f8ecc6;
	border: 2px dotted #999999;
	padding:12px;
}
body{
	text-align: center;
}
#Titulo {
	font-family: verdana;
    font-size: 300%;
	text-align: center;
	color: #4A7C59;
	text-shadow: #775030 1px 1px 5px;
}
#SubTitulo{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 150%;
	color: black;
	text-decoration: underline
}
#Botones{
	background: #571616;
	border: 4px Ridge #999999;
	padding: 2%;
}
#Botones li{
	display: inline;
    text-align: center;
    margin: 0 10px 0 0;
  
}

button{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #e0dede;
    background-color: #cc5252;
    border-radius: 6px;
    border: 2px dotted #999999;
}
 button:hover{
    color: white;
    background-color: #004b91}
div>li{
	
	width:90%;
	margin: 15px auto;
	text-align: left;
	padding-left: 2px;
	font-size: 18px;
	
}
/*adaptar pagina para resoluciones pendiente
*/
@media (max-width: 800px) and (min-width: 300px) {
	
}
/* formulario*/
input, textarea , select {
  font-size: 120%;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 2px dotted #999999;
  background: #d7d7d7;
  color: brown;
  border-radius: 5px;
  width : 150px;
  margin: 5%; 
  box-sizing: border-box;
}


form {
	 
   border-radius: 10px;
    margin: 0 auto;
    width: 400px;
    /* Para ver el borde del formulario */
    padding: 1em;
	background: #369c54;
    border: 2px dotted #999999;
	
}
input 
	{
    
	margin:35px;
    display: inline-block;
    
    text-align: left;
}

.nombre {
	width: 80%;
}
label {
  font-family: inherit;
  font-size: 160%;
  color: white;
}

